<div class="row animated fadeIn fast">
  <div class="col">
    <div class="card h-100" style="width: 25rem">
      <img src="assets/docker.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">Docker</h5>
        <p class="card-text">
          La idea detrás de Docker es crear contenedores ligeros y portables
          para las aplicaciones software que puedan ejecutarse en cualquier
          máquina con Docker instalado.
        </p>
        <a href="#" class="btn btn-primary">Material</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 25rem">
      <img src="assets/micro.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">Microservicios</h5>
        <p class="card-text">
          La arquitectura de microservicios (del inglés Micro Services
          Architecture) es un método de desarrollo de software que consiste en
          construir una aplicación como un conjunto de pequeños servicios, con
          operaciones bien definidas e independientes entre sí.
        </p>
        <a href="#" class="btn btn-primary">Material</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 25rem">
      <img src="assets/net.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">.NET Core</h5>
        <p class="card-text">
          .NET Core es una plataforma de desarrollo de código abierto y de
          propósito general. Permite crear aplicaciones .NET Core para Windows,
          macOS y Linux
        </p>
        <a href="#" class="btn btn-primary">Material</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 25rem">
      <img src="assets/angular.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">
          Angular es un framework opensource desarrollado por Google para
          facilitar la creación y programación de aplicaciones web de una sola
          página, las webs SPA (Single Page Application).
        </p>
        <a href="#" class="btn btn-primary">Material</a>
      </div>
    </div>
  </div>
</div>
